@import url('./__add-button/profile__add-button.css');
@import url('./__avatar/profile__avatar.css');
@import url('./__edit-button/profile__edit-button.css');
@import url('./__job/profile__job.css');
@import url('./__name/profile__name.css');
@import url('./__profile-info/profile__profile-info.css');

.profile{
  width: 73.5%;
  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-template-columns: 120px 1fr 150px;
  grid-template-areas:
              "avatar profile-info add-bttn";
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 30px;
}

/*
Вообще нет идей куда девать кнопку добавления в промежутке от большого разрешения до мобильного
Если оставить как есть, то она черезмерно сокрашает поле для имени
Пока она подвешивается под аватаркой, выглядит не очень, но я не на дизайнера обучаюсь
*/

@media screen and (max-width: 1024px){
  .profile{
    grid-template-columns: 120px 1fr;
    grid-template-areas:
                "avatar profile-info"
                "add-bttn fill";
    grid-row-gap: 10px;
  }
}

@media screen and (max-width: 750px){
  .profile{
    display: flex;
    flex-direction: column;

    grid-template-areas: none;
  }
}

