.popup__submit-button{
  height: 50px;
  background-color: black;
  border: 0;
  color: white;

  cursor: url('../../images/bttn-cursor.svg'), pointer;
  transition: opacity 1s linear;

  font-size: 18px;
  line-height: 1.05;
  letter-spacing: 0;
}

.popup__submit-button:hover{
  opacity: .5;
}


@media screen and (max-width: 530px){
  .popup__submit-button{
    font-size: 14px;
    line-height: 1.05;
    letter-spacing: 0;

    height: 40px;
  }
}
