.img-popup__close-icon{
  align-self: end;

  position: relative;
  left: 46px;
  top: 5px;

  border: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;

  cursor: url('../../images/bttn-cursor.png'), pointer;
  transition: opacity 1s linear;

  width: 52px;
  height: 52px;
  background-image: url('../../../images/close-icon.svg');
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.img-popup__close-icon:hover{
  opacity: .5;
}


@media screen and (max-width: 530px){
  .img-popup__close-icon{
    left: 36px;
    top: 6px;

    width: 42px;
    height: 42px;
  }
}
