.elements{
  width: 73.5%;

  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-row-gap: 21px;
  grid-column-gap: 18px;
  justify-content: center;
}

@media screen and (max-width: 425px){
  .elements{
    margin-top: 36px;
  }
}
