.edit-popup__container{
  display: flex;
  flex-direction: column;

  justify-content: space-between;

  position: fixed;
  top: 23.1%;
  left: 0;
  right: 0;
  margin: 0 auto;

  width: 430px;
  height: 330px;
  border-radius: 3%;

  background-color: white;

  z-index: 1;
}

@media screen and (max-width: 530px){
  .edit-popup__container{
    width: 280px;
    height: 250px;
  }
}
