.popup__input-text{
  border: 0;
  border-bottom: 1px solid grey;

  margin-bottom: 19px;

  font-size: 14px;
  line-height: 2.5;
  padding: 1px;

}

.popup__input-text:nth-child(2){
  margin-bottom: 48px;
}

@media screen and (max-width: 530px){
  .popup__input-text{
    margin-bottom: 10px;
  }

  .popup__input-text:nth-child(2){
    margin-bottom: 25px;
  }

}
